-#  This file is app/views/movies/index.html.haml
%h1 All Movies

= form_tag movies_path, :id => 'ratings_form', :method => :get do
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, session[:ratings][rating], :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      - @header.each do |field, value|
        - if (field == session[:order]) # If field is ordered then add class.
          %th.hilite= value
        - else
          %th= value
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.title 
        %td= movie.rating
        %td= movie.release_date
        %td= link_to "More about #{movie.title}", movie_path(movie)

= link_to 'Add new movie', new_movie_path

-# - session.delete(:ratings)
-# - session.delete(:order)

-# %br= p session